<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		</meta>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>登录</title>
		<link rel="stylesheet" href="/static/css/auth.css">
		</link>
		<!-- <script src="/static/js/jquery-3.6.0.min.js"></script> -->
	</head>
	<body>
		<div id="auth-container">
			<h2 id="form-title">登录</h2>

			<div id="message" class="error"></div>

			<form id="auth-form">
				<input type="text" id="username" placeholder="用户名" required>
				<div id="username-rule" class="rule-text"></div> <!-- 用户名规则提示 -->
				<input type="password" id="password" placeholder="密码" required>
				<div id="password-rule" class="rule-text"></div> <!-- 密码规则提示 -->
				<input type="password" id="confirm-password" placeholder="确认密码" required>
				<div id="confirm-password-rule" class="rule-text"></div> <!-- 确认密码规则提示 -->
				<button type="submit" id="auth-button">登录</button>
			</form>

			<div id="toggle-auth">没有账户？点击注册</div>
		</div>
		<script src="/static/js/auth.js"></script>
	</body>
</html>