<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>成绩分析</title>
		<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
		<link rel="stylesheet" href="/static/css/fileAnalysis.css" />
	</head>
	<body>
		<div class="sidebar">
			<button onclick="navigateTo('home')">解题</button>
			<button onclick="navigateTo('scoreAnalysis')">分析</button>
			<div>
				<button id="newAnalysisButton" onclick="clearAnalysis()">新建分析</button>
				<div id="recordList">
					<!-- 分析记录显示在这 -->
				</div>
			</div>
		</div>
		<div class="content">
			<div class="actions">
				<input type="file" id="fileInput" accept=".xlsx, .csv, .xls" />
				<label for="analysisType">分析内容：</label>
				<select id="analysisType">
					<option value="class">班级成绩分析</option>
					<option value="student">学生成绩分析</option>
				</select>
				<button id="analyzeButton" onclick="startAnalysis()">开始分析</button>
			</div>
			<div class="chart-container">
				<div id="chart"></div>
				<div class="analysis-result" id="analysisResult">请点击开始分析</div>
			</div>
		</div>
		<script src="/static/js/fileAnalysis.js"></script>
	</body>
</html>