<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Chat Assistant</title>

  <!-- MathJax 配置 -->
  <script>
    MathJax = {
      tex: {
        inlineMath: [
          ['$', '$'],
          ['\\(', '\\)']
        ]
      }
    };
  </script>
  <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script> -->
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<link rel="stylesheet" href="/static/css/index.css">

</head>
<body>
  <div id="header">
    <div id="user-info">
      <img id="user-avatar" src="/static/images/头像.png" alt="User Avatar">
      <span id="user-name">用户名</span>
  </div>
  <div id="logout">登出</div>
  		<button id="analyze_button">成绩分析</button>
		<script>
			const analyze_button = document.getElementById('analyze_button');
			analyze_button.addEventListener('click', function() {
				window.location.href = '/scoreAnalysis';
			})
		</script>
  </div>
  <div id="session-list">
    <div id="chat-header">
      <div id="history-session">历史会话</div>
      <button id="new-chat">+ 新建对话</button>
      
    </div>
    <div id="session-ul">
      <ul id="sessions" class="session-list"></ul>
    </div>
  </div>
  <div id="chat-container">

    <div id="chat-history" aria-label="Chat History" role="log"></div>
    <form id="chat-form" enctype="multipart/form-data">
      <input
        type="text"
        id="text-input"
        placeholder="Type your message here..."
        aria-label="Message Input"
        required>
      <input
        type="file"
        id="image-input"
        accept="image/*"
        aria-label="Image Upload">
      <button type="submit" aria-label="Send Message">Send</button>
    </form>
  </div>
  <script src="/static/js/index.js"></script>
</body>
</html>
